@font-face {
		font-family: 'Raleway'
		src: url('src/police/Raleway.ttf') format('truetype');}

:root{
	--bleuFoncé: #0065FC;
	--bleuClair: #DEEBFF;
	--gris: #F2F2F2;}

html{
	font-family: Raleway, serif, sans-serif;
	width: 100%;
	height: 100%;}

body{
	margin-left: 2%;
	margin-right: 4%;
	margin-top: 2%;}

#marge{margin-right: 1.5%;
	margin-left: 3%;}


	/* Flex / Grid */
	/* Dimension */
	/* Positionnement */
	/* Décoration */


/* | Logo du site & Menu | */
#container_logo{
		/* Flex / Grid */
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;}

		#logo{
			/* Dimension */
			width: 6rem;
			margin-right: 60%;}

			#nav_menu{display: flex;}
				.menu{
					padding: 1rem;
					color: black;
					text-decoration: none;
					margin-right: 2rem;}

				.menu:focus{
					/* Décoraton */
					border-top: 0.1rem #0065FC solid;
					color: #0065FC;}

			#inscription{
				color: #0065FF;
				text-decoration: none;}


/* Problème avec les menus*/
@media all and (max-width: 1024px){

	#container_logo{}

		#logo{margin-right: 0%;}

			#nav_menu{order: 2;
				width: 100%;}

				.menu{
					border-bottom:  0.1rem #F2F2F2 solid;
					display: flex;
					justify-content: center;
					width: 50%;
					padding-right: 25%;
					padding-left: 25%;}

				.menu:focus{border-top: none;
					border-bottom:  0.1rem #0065FC solid;}

			#nav_inscription{order: 1}

}







































































/* | H1 & P | */
h1{
	/* Positionnement */
	margin-top: 1.6rem;
	/* Dimension */
	font-size: 1.3rem;}

header p{
	/* Positionnement */
	margin-top: 0rem;
	/* Dimension */
	font-size: 0.95rem;}


/* | Recherche | */
#container_recherche{
	/* Flex / Grid */
	display: flex;
	align-items: flex-start;}

	#géoloc{
		/* Décoraton */
		background-color: #F2F2F2;
		border-radius: 30% 0% 0% 30%;
		/* Positionnement */
		padding-right: 1rem;
		padding-left: 1rem;
		padding-top: 0.9%;
		padding-bottom: 0.9%;}

	input{
		/* Décoraton */
		border-color: #F2F2F2;
		/* Dimension */
		width: 18.8%;
		/* Positionnement */
		padding: 0.8%;}

	#recherche{
		/* Dimension */
		font-size: 0.90rem;
		width: 8%;
		/* Positionnement */
		padding: 0.7%;
		/* Décoraton */
		border-radius: 0em 0.5em 0.5em 0em;
		background-color: #0065FC;
		color: white;}

			#search_responsive{display: none; }

	::placeholder {
		/* Dimension */
		font-size: 1rem;
		/* Décoraton */
		color: black;
		font-weight: bold;
		/* Positionnement */
	  	padding-left: 0.5em;}

@media all and (max-width: 1024px){
	input{
		padding: 0.9rem;
		width: 100%;
		}
		#géoloc{padding: 1rem;}	
		#recherche{
			padding-top: 0.8rem; 
			padding-left: 1rem;
			padding-right: 2rem;
			padding-bottom: 0.8rem;}

		#search_responsive{
			padding-right: 1rem;
			display: initial;}

		#search_desktop{display: none;}
		}


/* || Filtre || */
#filter{
	/* Positionnement */;
	margin-top: 2%;
	/* Flex / Grid */
	display: flex;
	flex-wrap: wrap;
	align-items: center;}
	
	#filter span{
		/* Décoraton */
		font-size: 0.9rem;
		font-weight: bold;
		/* Positionnement */
		margin-right: 1.5%;}

	#filter i{
		/* Positionnement */
		padding: 0.5rem;
		margin-right: 0rem;
		/* Décoraton */
		border-radius: 8rem;
		color: #0065FC;
		background-color: #DEEBFF;}

	#filter button{
		/* Décoraton */
		background-color: #F2F2F2;
    	border: 0.01rem solid #F2F2F2;
		font-weight: bold;
		background-color: white;
		border-radius: 1rem;
		overflow: hidden;
		/* Dimension */
		font-size: 1rem;
		height: 2rem;
		/* Positionnement */
		margin-left: 2.1rem;
		padding-top: 0rem;
		padding-bottom: 0rem;
		padding-left: 0rem; 
		margin-right: 1.9rem;}

@media all and (max-width: 1024px){	
	#filter span{
		width: 100%;
		margin-bottom: 2%;}

	#filter button{
		margin-left: 0%;
		margin-bottom: 2%;}	}


/* || Information || */
#info{
	/* Flex / Grid */
	display: flex;
	/* Positionnement */
	margin-top: 1rem;}

	#info i{
		/* Décoration */
		border: 0.1% #F2F2F2 solid;
		color: #0065FC;}

	#info p{
		/* Dimension */
		font-size: 0.9rem;
		/* Positionnement */
		padding-left: 0.8rem;
		margin: 0rem;}

/* | Information | */
#info{
	/* Flex / Grid */
	display: flex;
	/* Positionnement */
	margin-top: 1rem;}

	#info i{
		/* Décoration */
		border: 0.1% #F2F2F2 solid;
		color: #0065FC;}

	#info p{
		font-size: 0.9rem;
		padding-left: 0.8rem;
		margin: 0rem;}

#container{
	padding-top: 2%;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;}

	
/* || block_1 || */
	#bloc1{
		display: flex;
		flex-wrap: wrap;
		width: 65.5%;
		height: 50%;
		background-color: #F2F2F2;
		border-radius: 0.8rem;
		margin-right: 2rem;}

		#bloc1 h2{
			font-size: 1.2rem;
			width: 100%;
			margin-left: 4%;}

		#bloc1 figure{
			margin-left: 2rem;
			margin-right: 1rem;
			border: 0.2rem white solid;
			border-radius: 1rem;
			overflow: hidden;
			background-color: white;
			width: 25.6%;}

			#bloc1 img{
				width: 100%;
				height: 6rem;
				object-fit: cover;
				object-position: center;}

			#bloc1 figcaption{
				margin-left: 0.5rem;
				width: 13rem;
				background-color: white;}

				#bloc1 h3{
					margin-bottom: 0rem;
					padding-top: 0.5rem;
					margin-top: 0rem;
					font-size: 0.9rem;}

				#bloc1 p{
					margin-bottom: 0rem;
					margin-top: 0.4rem;
					font-size: 0.75rem;}

				#bloc1 i{color: #0065FC;
				font-size: 0.65rem;}

				#stars_grey{color: #F2F2F2;}


/* | Afficher plus | */
			details{
				margin-left: 2rem;
				margin-bottom: 2.1rem;
				margin-top: 1rem;
				font-weight: bold;
				font-size: 0.8rem;}
			
			details > summary:first-of-type { 
    		list-style-type: none;} 



/* | Block_2 | */
	#bloc2{
		display: inline-block;
		width: 31.8%;
		height: 50%;
		border-radius: 0.8rem;
		background-color: #F2F2F2;}


		#bloc2 h2{
			font-size: 1.2rem;
			width: 100%;
			margin-left: 8%;}

		#bloc2 figure{
			display: flex;
			margin-top: 1.71rem;
			margin-left: 2rem;
			margin-right: 1rem;
			border: 0.2rem white solid;
			border-radius: 1rem;
			overflow: hidden;
			background-color: white;
			width: 83%;}

			#bloc2 img{
				width: 36%;
				height: 7.7rem;
				object-fit: cover;
				object-position: center;}

			#bloc2 figcaption{
				margin-left: 1.5rem;
				width: 13rem;
				background-color: white;}

				#bloc2 h3{
					margin-right: 2.5rem; 
					font-size: 0.9rem;
					margin-top: 0.6rem;}

				#bloc2 p{font-size: 0.75rem;
					margin-bottom: 1rem;}

				#bloc2 i{color: #0065FC;
				font-size: 0.65rem;}


@media all and (max-width: 1024px){

#info{margin-bottom: 1rem;}

#container{
	flex-wrap: wrap-reverse;}


	#bloc1{
		margin-right: 0%;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		background-color: white;

		margin-bottom: 10%;}

		#bloc1 figure{
			box-shadow: 7px 11px 15px 1px rgba(114,113,111,0.52);
			margin-top: 0.2rem;
			width: 100%;
			margin-right: 0rem;
			margin-left: 0rem;}

		#bloc1 figcaption{
			width: 100%;
			font-size: 0.8rem;
			font-weight: bold;
			padding-top: 1rem;
			padding-bottom: 1rem;;
			border-radius: 0em 0em 1rem 1em;}


		#bloc1 img{
			width: 100%;
			height: 7rem;
			margin-left: 0rem;}

	details{margin-left: 0%;}

	#bloc2{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		background-color: #F2F2F2;

		margin-left: 0%;}

		#bloc2 figure{
			margin-left: 7%;
			width: 100%;}	}

/* || Activité à Marseille || */
#title3_h3{
	font-size: 1.2rem;
	width: 100%;}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2.85rem 4rem;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "c1 c2 c4 c5"
    "c1 c3 c4 c6";}

	.grid-container figure{
		margin: 0em;}

		.grid-container figcaption{
			font-size: 0.8rem;
			font-weight: bold;
			padding-left: 1rem;
			padding-top: 1rem;
			padding-bottom: 1rem;
			box-shadow: 7px 11px 15px 1px rgba(114,113,111,0.52);
			border-radius: 0em 0em 1rem 1em;}

		.c1 { grid-area: c1;}
		.c1 img {
			width: 100%;
			height: 18rem;
			object-fit: cover;
			border-radius: 1rem 1rem 0em 0em;}

		.c2 { grid-area: c2; }
		.c2 img {
			width: 100%;
			height: 7em;
			object-fit: cover;
			border-radius: 1rem 1rem 0em 0em;}

		.c3 { grid-area: c3; }
		.c3 img {width: 100%;
				height: 5em;
				object-fit: cover;
				object-position: 0rem -1.8rem;
				border-radius: 1rem 1rem 0em 0em;}


		.c4 { grid-area: c4; }
		.c4 img {width: 100%;
				height: 18rem;
				object-fit: cover;
				border-radius: 1rem 1rem 0em 0em;}

		.c5 { grid-area: c5; }
		.c5 img {width: 100%;
				height: 7em;
				object-fit: cover;
				border-radius: 1rem 1rem 0em 0em;}

		.c6 { grid-area: c6; }
		.c6 img {width: 100%;
				height: 5em;
				object-fit: cover;
				border-radius: 1rem 1rem 0em 0em;}


@media all and (max-width: 1024px){

		.grid-container{
			margin-bottom: 10%;
			grid-gap: 1rem 4rem;}

		.grid-container{
			display: flex;
			flex-wrap: wrap;}

		.grid-container figure{}

		.grid-container img{
			width: 100%;
			height: 7em;}	}

/* || FOOTER || */
	#footer_border{
		/* Flex / Grid */
		display: flex;
		flex-wrap: wrap;
		/* Dimension */
		width: 100%;
		/* Positionnement */
		padding: 1%;
		/* Décoration */
		background-color: #F2F2F2;}

		#footer_border ul{
			/* Positionnement */
			padding-left: 0%;
			margin-top: 0%;}

			#footer_border h4{
				/* Dimension */
				font-size: 0.8rem;
				/* Positionnement */
				margin-bottom: 5%;
				/* Décoration */}

			#footer_border li{
				/* Dimension */
				font-size: 0.7rem;
				/* Positionnement */
				margin-top: 4%;
				/* Décoration */
				list-style-type: none;}

			#footer_border #propos{padding-left: 2.5%;}

			#footer_border #hebergement{margin-left: 19%;}

			#footer_border #assistance{margin-left: 19%;}

	@media all and (max-width: 1024px){
		#footer_border{flex-direction: column;}

			#footer_border ul{padding-bottom: 10%}

			#footer_border #hebergement{
				padding-left: 3%;
				margin-left: 0%;}

			#footer_border #assistance{
				padding-left: 3%;
				margin-left: 0%;}	}